body {
    background: linear-gradient(-45deg, #444242, #1e5c47, #522d57, #216150);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }